@media only screen and (min-width: 60rem) {

  form fieldset {
      max-width: 700px;
      
  }

  form label.sbs {
      padding: .4rem 0;
  }

  fieldset.memLvl {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
  }

  form fieldset label.memLvl {
      grid-column: 1/1;
      grid-row: 1/3;
  }

  form fieldset p.memLvl {
      grid-column: 2 / span 2;
      grid-row: 1/3;
  }
  header, footer {
      max-width: 1200px;
      margin: 10px auto;
  }

  .headerLogo {
      width: 180px;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 10px;
  }
  footer div img {
      width: 150px;
      display: block;
  }
  

  nav  {
    justify-content:right;
    display: flex;
    gap:3rem;
    flex-direction: row-reverse;
    padding: 1rem}
  
  .dropDownNav {
      display: none;
  }


  #mainNav {
      max-width: 600px;
      display: flex;
      
  }

  #mainNav ul {
      list-style-type: none;
      padding-left: 0;
      margin: auto;
  }

  #mainNav ul li a{
      padding: .8rem 2vw;
      flex: 0 0 auto;
      text-decoration: none;
      color: white;
      
  }

  #mainNav ul li a:hover {
      color: #5C0029;
  }


  #hamburgerBtn {
      display: none;
  }
  


footer div {
  margin: auto;
}
/*Discover page*/
.main {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: none;
}


}